.p1 > p{
    background-color: rgba(78, 47, 47, 0.082);
    height: 1000px;
}
.p2 > p{
    background-color: rgba(78, 47, 47, 0.082);
    height: 1000px;
}
.p3 > p{
    background-color: rgba(78, 47, 47, 0.082);
    height: 1000px;
}
